# Ignore Mac system files
.DS_store

# Ignore node_modules folder
node_modules

# ignore all text files
*.txt

# Ignore files related to API keys
.env

# Ignore build files
bin
objs
obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
obj/Debug/net5.0/app.AssemblyInfo.cs
obj/Debug/net5.0/app.AssemblyInfoInputs.cache
obj/Debug/net5.0/app.csproj.AssemblyReference.cache
obj/Debug/net5.0/app.GeneratedMSBuildEditorConfig.editorconfig
